body{
    background-color: black;
    color: #ffffc8;
}

.template{
    background-color: #000033;
    color: #ffffc8;
    text-align: left;
}

textarea{
    color: #ffffc8;
    background-color: black;
}

table{
    margin: 10px auto ;
    border: 1px solid white;
    border-collapse: collapse;
}

.icon{
    border-radius: 10px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    margin: 0 auto;
}

button:hover {
    background-color: #fec8d8 !important;
}